@import "./reset.css";
@import "./blocks/header.css";
@import "./blocks/breadcrumbs.css";
@import "./blocks/catalog.css";
@import "./blocks/footer.css";
@import "./blocks/product.css";
@import "./blocks/details.css";
@import "./blocks/reviews.css";
@import "./blocks/related-products.css";
@import "./blocks/shopping-cart.css";
@import "./base.css";

/* font SF */
  @font-face {
    font-family: "SFBlack"; 
    src: url("../fonts/font-SF-Pro-Display/SF-Pro-Display-Black.otf"); 
    font-style: normal; 
    font-weight: 800; 
  }
  @font-face {
    font-family: "SFBold"; 
    src: url("../fonts/font-SF-Pro-Display/SF-Pro-Display-Bold.otf"); 
    font-style: normal; 
    font-weight: 700; 
  } 
  @font-face {
    font-family: "SFHeavy"; 
    src: url("../fonts/font-SF-Pro-Display/SF-Pro-Display-Heavy.otf"); 
    font-style: normal; 
    font-weight: normal; 
  } 
  @font-face {
    font-family: "SFLight"; 
    src: url("../fonts/font-SF-Pro-Display/SF-Pro-Display-Light.otf"); 
    font-style: normal; 
    font-weight: 300; 
  } 
  @font-face {
    font-family: "SFMedium"; 
    src: url("../fonts/font-SF-Pro-Display/SF-Pro-Display-Medium.otf"); 
    font-style: normal; 
    font-weight: 500; 
  } 
  @font-face {
    font-family: "SFRegular"; 
    src: url("../fonts/font-SF-Pro-Display/SF-Pro-Display-Regular.otf"); 
    font-style: normal; 
    font-weight: 400; 
  } 
  @font-face {
    font-family: "SFSemiBold"; 
    src: url("../fonts/font-SF-Pro-Display/SF-Pro-Display-Semibold.otf"); 
    font-style: normal; 
    font-weight: 600; 
  } 
  @font-face {
    font-family: "SFThin"; 
    src: url("../fonts/font-SF-Pro-Display/SF-Pro-Display-Thin.otf"); 
    font-style: normal; 
    font-weight: 100; 
  } 
  @font-face {
    font-family: "SFUltraLight"; 
    src: url("../fonts/font-SF-Pro-Display/SF-Pro-Display-Ultralight.otf"); 
    font-style: normal; 
    font-weight: 200; 
  } 
/*  */