.breadcrumbs {
    padding: 40px 0;
}

.breadcrumbs__nav {
    display: flex;
    align-items: center;
    gap: 16px;
}

.breadcrumbs__arrow {
    width: 8px;
    height: 8px;
    border: solid var(--main-noactive);
    border-width: 0px 1px 1px 0;
    transform: rotate(-45deg);
}

@media (max-width: 800px) {
    .breadcrumbs {
        display: none;
    }
}