.header__top {
    display: flex;
    align-items: center;
    padding: 16px 0;
    gap: 32px;
}

.header__logo img {
    min-width: 95px;
}

.header__search {
    max-width: 433px;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 52px;
}

.header__nav a {
    white-space: nowrap;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header__actions img {
    min-width: 25px;
}

.header__nav-categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.header__nav-categories::after {
    content: "";
    position: absolute;
    left: 0; right: 0;
    height: 48px;
    width: 100%;
    background: var(--main-charcoal);
    z-index: -1;
}

.header-nav-categories__btn {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-nav-categories__btn span {
    color: var(--main-white);
    opacity: 0.5;
    line-height: 32px;
}

.header-nav-categories__line {
    width: 1px;
    height: 24px;
    background: var(--main-white);
    opacity: 0.2;
}

.header__mobile {
    display: none;
}

.header-burger-menu__btn {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header-burger-menu__line {
    width: 25px;
    height: 2px;
    background: var(--main-black);
    transform: translateY(0) rotate(0);
    opacity: 1;
    transition: all .5s ease;
}

/* Красный кружок корзины при новом товаре */
.header-actions__cart.new {
    position: relative;
}
.header-actions__cart.new::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 7px;
    right: -2px;
    top: 0px;
    background: #e40606;
}

/* Анимация для бургер меню (включается с помощью JavaScript) */
@keyframes burgerAnimationLine1 {
    0% {transform: translateY(0px);}
    50% {transform: translateY(7px) rotate(0deg);}
    100% {transform: translateY(7px) rotate(45deg);}
}
@keyframes burgerAnimationLine2 {
    50% {opacity: 1;}
    51% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes burgerAnimationLine3 {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-7px) rotate(0deg);}
    100% {transform: translateY(-7px) rotate(-45deg);}
}

@keyframes burgerAnimationLine1Reverse {
    0% {transform: translateY(7px) rotate(45deg);}
    50% {transform: translateY(7px) rotate(0);}
    100% {transform: translateY(0);}
}
@keyframes burgerAnimationLine2Reverse {
    50% {opacity: 0;}
    51% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes burgerAnimationLine3Reverse {
    0% {transform: translateY(-7px) rotate(-45deg);}
    50% {transform: translateY(-7px) rotate(0deg);}
    100% {transform: translateY(0);}
}
/*  */


@media (max-width: 800px) {
    .header__search[role="search"] {
        display: none;
    }
    .header__top {
        justify-content: space-between;
    }

    .header__nav-categories img {
        width: 20px;
    }
    .header__nav-categories span {
        font-size: 14px;
    }
}

@media (max-width: 630px) {
    .header__nav-categories {
        display: none;
    }

    .header__mobile {
        position: relative;
        z-index: 99;
        display: flex;
        width: 100%;
        padding: 24px 0;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    .header__desktop {
        display: none;
    }

    .header-mobile__search[role="search"] {
        display: flex;
        margin: 0 auto;
    }

    .header-mobile__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        height: 100vh;
        width: calc(100% + 2px);
        top: 90px;
        left: -150%;
        background: var(--main-white);
        transition: all .5s ease;
    }
    .header-mobile__content.active {
        left: -1px;
    }
    
    .header-mobile__nav {
        flex-direction: column;
        gap: 15px;
    }

    .header-mobile__actions {
        flex-direction: column;
        gap: 15px;
    }

}