.main {
    padding: 72px 0;
}

.main__content {
    display: flex;
    align-items: start;
    gap: 48px;
}

.shopping-cart {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.shopping-cart__title {
    font-family: "SFSemiBold";
    font-size: 24px;
    line-height: 24px;
    color: var(--main-black);
}

.shopping-cart__products-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    max-height: 600px;
    overflow: auto;
    padding-right: 25px;
}

.shopping-cart__products-list div:last-of-type {
    box-shadow: none;
}

.shopping-cart__product {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 16px 0 56px 0;
    box-shadow: 0 0.5px 0 0 #A3A3A3;
}

.shopping-cart__product-img {
    max-height: 90px;
    max-width: 90px;
}

.shopping-cart__product-content {
    display: flex;
    align-items: center;
}

.shopping-cart__product-info {
    display: flex;
    width: 193px;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
}

.shopping-cart__product-id {
    font-family: "SFRegular";
    font-size: 14px;
    line-height: 24px;
}

.shopping-cart__product-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.shopping-cart__product-counter {
    display: flex;
    align-items: center;
    gap: 8px;
}
.shopping-cart__product-counter-value {
    max-width: 40px;
    max-height: 32px;
    padding: 8px 16px;
    box-shadow: 0 0 0 0.5px #D9D9D9;
    border-radius: 4px;
}

.shopping-cart__product-counter-back img, .shopping-cart__product-counter-forward img {
    max-width: none;
}

.shopping-cart__product-price {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.03em;
}

.shopping-cart__product-delete {
    position: relative;
    width: 24px;
    height: 24px;
}

.shopping-cart__info-text {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #545454;
}



.summary {
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    width: 100%;
}

.summary__content {
    padding: 56px 64px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.summary__title {
    font-family: "SFBold";
    font-size: 20px;
    line-height: 16px;
}

.summary__form input {
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 14px;
}
.summary__form input::placeholder {
    font-family: "SFRegular";
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.005em;
    color: #979797;
}
.summary__form input::-webkit-inner-spin-button,
.summary__form input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.summary__form-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.summary__form-item label {
    font-size: 14px;
    line-height: 16px;
    color: #545454;
}

.summary__card-number {
    margin-top: 24px;
}

input#promoCode, .summary__card-number .input-group {
    width: 100%;
    padding: 16px;
    border-radius: 7px;
    box-shadow: 0 0 0 0.5px #9F9F9F;
}

.input-group {
    display: flex;
    align-items: center;
}
.input-group input {
    width: 100%;
}

.input-group__button {
    width: 76px;
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 6px;
    border: 1px solid var(--main-black);
    transition: all ease .5s;
    margin-left: auto;
}
.input-group__button:hover {
    cursor: pointer;
    background: var(--main-black);
    color: var(--main-white);
}

.summary__prices {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.summary__prices-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "SFRegular";
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.03em;
}
.summary__prices-option-value {
    color: var(--main-black);
}
.summary__prices-option-info {
    color: #545454;
}

.summary__prices-subtotal .summary__prices-option-info, .summary__prices-total .summary__prices-option-info {
    color: var(--main-black);
}

.summary__prices-taxes {
    margin: 20px 0 16px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.summary__button {
    margin-top: 48px;
    width: 100%;
}

@media (max-width: 800px) {
    .main__content {
        flex-direction: column;
    }

    .summary__content {
        padding: 56px 16px;
    }

    .shopping-cart__product-content {
        flex-direction: column;
        align-items: normal;
    }

    .shopping-cart__product-right {
        padding: 8px 0;
    }

    .shopping-cart__product-info {
        width: 100%;
    }
};